*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #11998e, #38ef7d);
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}
.card{
    background: linear-gradient(to right, #D38312, #A83279);;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center  ;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px auto;
    transform: scale(10.5s);
}
p{
     font-size: 15px;
        margin: 7px 0;
        color:white;
    }
.card_social {
    color: white    ;
    margin: auto;
    padding:25px;
}
.card h2 {
    margin-top: -25px;

}


    


 
